en
configure terminal

interface GigabitEthernet 0/0/1.11
encapsulation dot1Q 11
ip address 192.168.11.1 255.255.255.0
ip helper-address 192.168.30.11
no shutdown
exit

interface GigabitEthernet 0/0/1.10
encapsulation dot1Q 10
ip address 192.168.10.1 255.255.255.0
ip helper-address 192.168.30.11
no shutdown
exit 

interface GigabitEthernet 0/0/1.30
encapsulation dot1Q 30
ip address 192.168.30.1 255.255.255.0
no shutdown
exit
end
write memory