body {
    background-color: rgb(7, 172, 147);
    display: flex; /* body becomes a flex container*/
    min-height: 100vh; /* body height greater than or equal to  100% of the viewport height*/
    justify-content: center;
    align-items: center;

    input[type="text"] {
        &:focus {
            outline: none;
        }
    }
}